/* header,
var,
section,
footer {
    border: 3px solid rgb(239, 171, 93);
} */
body {
    background-color: #00000028;
}

/* 以下為headerCSS */
header {
    background-color: rgb(4, 25, 46);
    height: 80px;
    width: 100%;

    h1 {
        color: antiquewhite;
        position: absolute;
        left: 90px;
        top: 0;
        line-height: 80px;
        font-size: 3vw;
        /* font-weight: 30%; */
    }

    img {
        height: 65px;
        position: absolute;
        top: 8px;
        left: 20px;
    }

    a {
        font-size: 3vw;
        /* font-size: 4vh; */
        line-height: 80px;
        /* height: 60px; */
        color: antiquewhite;
        display: inline-block;
        text-decoration: none;

        &:hover {
            /* background-color: #286f8b; */
            border-bottom: 2px solid antiquewhite;
            color: antiquewhite;
        }
    }

    ul {
        position: absolute;
        right: 0.5vw;
        top: 0;
        line-height: 90px;
    }

    li {
        display: inline;
        margin-right: 2vw;
    }
}

/* main CSS */
main {
    margin: 10px 40px;
    padding: 0 50px;
    margin-top: 80px;
}

/* 以下為側邊攔CSS */
aside {
    width: 50px;
    height: 200px;
    position: fixed;
    right: 50px;
    bottom: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

/* TOP鍵 */
#up {
    width: 30px;
    height: 30px;
    position: relative;
    left: 15px;
    border: 2px solid #0489aa;
}

#upfill {
    font-size: 25px;
    position: relative;
    bottom: 6px;
    left: 1px;
    color: #0489aa;
}

/* MSG鍵 */
#msglink2img {
    font-size: 30px;
    color: #0489aa;
    position: relative;
    left: 15px;
}

.link {
    display: none;
}

#Msg:hover>.link {
    display: block;
}


/* 側邊漢堡按鈕 */
ul {
    list-style: none;
}

input {
    display: none;
}

label {
    font-size: 30px;
    padding: 0 0 0 5px;
}

.menu {
    padding: 0 40px 0 5px;

    li {
        a {
            font-size: 30px;
            color: #0489aa;

            &:hover {
                color: #286f8b;
            }
        }
    }
}

.menu {
    max-height: 0;
    overflow: hidden;
}

input:checked~.menu {
    max-height: 150px;
}

.menu {
    max-height: 0;
    overflow: hidden;
    transition: .5s;
}


/* 以下為footer CSS */
footer {
    padding: 20px 100px 0 100px;
    margin-bottom: 0;
    background-color: rgb(4, 25, 46);

    a,
    #footertext {
        text-decoration: none;
        position: relative;
        top: 40px;
        color: antiquewhite;
    }

    h5 {
        color: antiquewhite;
        line-height: 30px;
    }

    i {
        font-size: 30px;
        margin-right: 10px;
    }

    p {
        display: flex;
        justify-content: center;
        color: #B7B7B7;
        font-size: 14px;
        line-height: 35px;
        /* background-color: aqua; */
    }
}

/* ---------以下為首頁CSS-------- */
section {
    #pageimg {
        margin-top: 80px;
        height: 630px;
        width: 100%;
        background-image: url(/img/首頁底圖.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 60%;

        h3 {
            /* border: 1px solid seagreen; */
            color: antiquewhite;
            background-color: rgba(38, 18, 9, 0.656);
            text-align-last: center;
            text-align: center;
            line-height: 80px;
            height: 630px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 40px;
        }
    }

    #pageimg2 {
        background-color: #f1cb98;
        margin: 0;

        #xjp61i {
            height: 609px;
            margin: 0;
            padding: 0;

            img {
                height: 609px;
                object-fit: cover;
            }
        }

        #halloween {
            margin: 0;
            padding: 0;

            h3 {
                margin-bottom: 13px;
                height: 148px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                font-size: 36px;
            }

            p {
                height: 216px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                line-height: 80px;
                font-size: 30px;
            }

            p2 {
                height: 216px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-weight: bold;
                line-height: 80px;
                font-size: 30px;
            }
        }
    }

    #new{
        background-color: #ede9db;
        margin: 0;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                font-size: 36px;
                /* border: 1px solid rgb(224, 33, 11); */
    }

    #pageimg3 {
        display: flex;
        background-color: #ede9db;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        margin: 0;

        div {
            width: 300px;
            text-align: center;
        }

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 20px;

        }

        h3 {
            font-size: 24px;
            margin: 20px 0;
            font-weight: bold;
        }

        p {
            font-size: 20px;
            line-height: 1.6em;
        }
    }
    #pageimg4 {
        display: flex;
        background-color: #ede9db;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        margin: 0;

        div {
            width: 300px;
            text-align: center;
        }

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 20px;

        }

        h3 {
            font-size: 24px;
            margin: 20px 0;
            font-weight: bold;
        }

        p {
            font-size: 20px;
            line-height: 1.6em;
        }
    }
}

/* ---------以下圍湯暮小故事CSS----------- */
.nav{
    margin-top: 20px;
    .nav-link {
        font-size: 20px;
        font-weight: bold;
        color: #0489aa;
        nav-left: ;
        &:hover{
            background-color: #FFFDD0;
        }
        &:focus{
            /* border: 1px solid salmon; */
            background-color: #0489aa;
            color: #FFFDD0;
        }
    }
}


#cbox {
    padding: 50px 80px 50px 0px;
    line-height: 50px;
    font-size: 20px;

    div {
        display: flexbox;
        margin: auto;
        padding-left: 20px;
    }

    h5 {
        font-weight: bold;
        font-size: 35px;
    }
}

.cimg {
    height: 450px;
    object-fit: contain;
    display: flexbox;
    margin: auto;
}

section {

    ul {
        display: flex;
        justify-content: end;
        /* position: sticky;
        top: 80px; */
        /* right: 5%; */
    }

}

#zxo {
    font-size: 35px;
    line-height: 45px;
    font-weight: bold;
}

/* 以下為產品介紹CSS */
#product {
    .card {
        height: 100%;
        width: 30%;
        margin: 50px 10px;
        border: 1px solid saddlebrown;
        /* background-color: #F5F5DC; */
        background-color: #FFFDD0;
        /* background-color: #D2B48C; */
        background-color: #FFDAB9;
        /* background-color: #D3D3D3; */
    }

    .card-title {
        margin: 25px 0 10px 0;
        font-weight: bold;
        font-size: 24px;
    }
}


/* -------以下為購買資訊CSS-------- */
#cartitle {
    font-size: 35px;
    line-height: 45px;
    font-weight: bold;
}

#buybox {
    background-color: #F7E3AF;

    div {
        /* padding-top: 10px; */
        display: flexbox;
        margin: auto;
        padding-bottom: 10px;
        /* border: 1px solid saddlebrown; */
    }

    img {
        width: 50vh;
        object-fit: contain;
        background-color: #F7E3AF;
        /* display: flexbox;
        margin: auto;  文字對齊相關*/
        /* border: 1px solid saddlebrown; */
    }

    iframe {
        padding-top: 25px;
    }

    >h5 {
        font-size: 25px;
        line-height: 50px;
        margin-top: 10px;
        padding-left: 20px;
        font-weight: bold;
        /* background-color: #0489aa; */
    }

    h3 {
        font-size: 25px;
        line-height: 50px;
        margin-top: 10px;
    }

    /* pre {
        border: 1px solid saddlebrown;
        } */

    #h4one {
        height: 280px;
        line-height: 80px;
        padding-top: 60px;
        background-color: #0489aa;
    }

    h4 {
        background-color: #e08c9a5b;
        height: 100px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        padding: 35px 0;
        margin: 0;
    }

    p {
        font-size: 20px;
        line-height: 45px;
        margin: 0;
        padding-left: 20px;
    }
}

#buybox2 {
    div {
        background-color: #F7E3AF;
        display: flexbox;
        margin: auto;
        /* border: 1px solid saddlebrown; */
        width: 80%;
        padding: 0;
        /* padding-top: 10px; */
        /* border: 1px solid saddlebrown; */
        background-color: #F7E3AF;
    }

    #h4one {
        height: 280px;
        line-height: 80px;
        padding-top: 60px;
        background-color: #0489aa;
    }

    h4 {
        background-color: #e08c9a5b;
        height: 100px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        padding: 35px 0;
        margin: 0;
    }

    span {
        border: 1px solid saddlebrown;
        display: inline-block;
        padding: 20px 20px;
        margin: 0 20px 0 20px;
        line-height: 30px;
        /* background-color: #FADADD; */
    }

    span2 {
        border: 1px solid saddlebrown;
        display: inline-block;
        padding: 20px 20px;
        margin: 0 20px 0 20px;
        line-height: 30px;
        /* background-color: #FADADD; */
    }

    p {
        font-size: 20px;
        line-height: 45px;
        margin: 0;
        padding-left: 20px;
    }
}

/* 以下為QA CSS */
#accordion {
    .card {
        /* border: 1px solid seagreen; */
        /* border: 1px solid saddlebrown; */
        background-color: #96c1ccb0;
        /* background-color: #FFDAB9; */
    }

    .card-body {
        /* border: 1px solid seagreen; */
        background-color: #172c311e;

    }

    a {
        font-size: 30px;
        /* border: 1px solid seagreen; */
        display: block;

        &:hover {
            /* background-color: #286f8b; */
            border: 2px solid rgb(13, 19, 46);
            color: rgb(13, 19, 46);
            font-weight: bolder;
        }
    }

    h6 {
        font-size: 28px;
        /* border: 1px solid seagreen; */
        display: inline;
        background-color: #0489aa;
        color: #FFDAB9;
        font-weight: bold;
    }

    p {
        /* border: 1px solid seagreen; */
        margin-top: 10px;
        font-size: 20px;
        line-height: 40px;
    }

    #slogan {
        /* border: 1px solid seagreen; */
        height: 350px;
        background-color: rgba(221, 16, 16, 0.589);
        background-image: url(/img/丹麥吐司.png);
        background-size: cover;
        /* background-image: url(/img/底圖.jpg); */
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 50%;
    }

    h3 {
        /* border: 1px solid seagreen; */
        color: antiquewhite;
        background-color: rgba(38, 18, 9, 0.656);
        text-align-last: center;
        text-align: center;
        line-height: 80px;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 40px;
    }
}